<td><%= link_to 'DEL', diagram, class: 'link-destroy', method: :delete, data: { confirm: 'Are you sure?' } %></td>
<td><%= link_to 'edit', edit_diagram_path(diagram), class: 'link-edit' %></td>
<td><%= link_to "#{diagram.filename.nil? ? '(no filename)' : diagram.filename}", diagram, class: 'link-show' %><br>
    <%= diagram.title %></td>
<td><%= diagram.revision %><br>
    <%= diagram.revision_date %></td>
<td><%= diagram.width %><br>
    <%= diagram.height %></td>
