<%= form_for diagram do |f| %>
  <td><!-- link_to 'New', new_diagram_path %> --></td>
  <td><%= f.submit %></td>
  <td>
    <%= f.file_field :file, class: 'input-file' %><br>
    <%= f.text_field :title %></td>
  <td>
    <%= f.text_field :revision, size: 12 %><br>
    <%= f.date_field :revision_date, size: 12, value: Date.current %></td>
  <td></td>
<% end %>
