<%= render partial: "shared/header", locals: { tab:@virtual_path[/^[^\/]+/] } %>
<section id='diagrams'>
  <table>
    <%= render "table_head" %>
    <tbody>
      <% if controller.modifiable %>
        <%= render partial: "table_row_form", locals: { diagram: @diagram_new, mode: :new } %>
      <% end %>
      <% @diagrams.each do |d| %>
        <% if @diagram_edit.nil? || (@diagram_edit.id != d.id) %>
          <%= render partial: "table_row_show", locals: { diagram: d, editable: true } %>
        <% else %>
          <%= render partial: "table_row_form", locals: { diagram: d, mode: :edit } %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</section>
<%= render partial: "shared/footer" %>
