<%= render partial: "shared/header", locals: { tab:@virtual_path[/^[^\/]+/] } %>
<section id='diagrams'>
  <table>
    <%= render "table_head" %>
    <tbody>
      <% diagram_last = @diagrams.last %>
      <% @diagrams.each do |diagram| %>
        <tr>
        <% if (diagram.equal? diagram_last) && (diagram.filename == nil) %>
          <%= render partial: "table_row_new", locals: { diagram: diagram } %>
        <% else %>
          <%= render partial: "table_row_show", locals: { diagram: diagram } %>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
<%= render partial: "shared/footer" %>
