<%= render partial: "shared/header", locals: { tab:@virtual_path[/^[^\/]+/] } %>
<h1>New diagram</h1>

<%= form_for @diagram do |f| %>
  <%= f.file_field :file %>
<% end %>

<%= render 'form' %>

<%= link_to 'Back', diagrams_path %>
