<%= render partial: "shared/header", locals: { tab:@virtual_path[/^[^\/]+/] } %>
<section id='diagram'>
  <table>
    <%= render "table_head" %>
    <tbody>
      <%= render partial: "table_row_show", locals: { diagram: @diagram, editable: false } %>
    </tbody>
  </table>
  <div id='diagram-shown'>
    <img src="<%= @spec_content_diagram %>" alt="< DIAGRAM NOT DISPLAYABLE >"/>
  </div>
</section>
<%= render partial: "shared/footer" %>
