<header>
  <hgroup>
    <div id="header-titles">
      <h1>C.A.Thames</h1>
      <h2>Software Architect and Programmer</h2>
      <h3>relentless in pursuit of excellence in computing</h3>
    </div>
    <div id="header-links">
      <div id="link-twitter">
        <script>twttr.widgets.load();</script>
        <a href="https://twitter.com/C_A_Thames" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @C_A_Thames</a>
      </div>
      <div id ="link-linkedin">
        <a href="http://www.linkedin.com/pub/c-a-thames/3a/8b2/1a5">
          <div>LinkedIn<br>Profile</div>
          <div><img style="vertical-align:middle" src="images/InBug-30px-R.png"/></div>
        </a>
      </div>
    </div>
  </hgroup>
  <nav>
    <a href="/"           class="<%=tab=="welcome"  ? "selected" : ""%>"
      >Home</a>
    <a href="/codes"      class="<%=tab=="codes"    ? "selected" : ""%>"
      >Code</a>
    <a href="/diagrams"   class="<%=tab=="diagrams" ? "selected" : ""%>" 
      >Diagrams</a>
    <a                    class="<%=tab=="movies"   ? "selected" : "link-disabled"%>"
      >Movies</a>
    <a                    class="<%=tab=="writings" ? "selected" : "link-disabled"%>"
      >Writings</a>
  </nav>
</header>
