<header>
  <hgroup>
    <h1>C.A.Thames</h1>
    <h2>Software Architect and Programmer</h2>
    <h3>relentless in pursuit of excellence in computing</h3>
  </hgroup>
  <nav>
    <a href="/"           class="<%=tab=="welcome"  ? "selected" : ""%>"
      >Home</a>
    <a href="/codes"      class="<%=tab=="code"     ? "selected" : ""%>"
      >Code</a>
    <a href="/diagrams"   class="<%=tab=="diagrams" ? "selected" : ""%>" 
      >Diagrams</a>
    <a href="/movies"     class="<%=tab=="movies"   ? "selected" : ""%>"
      >Movies</a>
    <a href="/writings"   class="<%=tab=="writings" ? "selected" : ""%>"
      >Writings</a>
  </nav>
</header>
