<tr>
<% if editable %>
  <%= render partial: "table_data_destroy", locals: { code: code } %>
  <td><%= link_to 'edit', edit_code_path(code), class: 'link-edit' %></td>
<% else %>
  <td></td>
  <td></td>
<% end %>
  <td>
      <%= render partial: "link_to_filename", locals: { code: code } %>
      <br><%= code.title %></td>
  <td><%= code.revision %><br>
      <%= code.revision_date %></td>
  <td><%= code.language %></td>
</tr>
