<%= render partial: "shared/header", locals: { tab:@virtual_path[/^[^\/]+/] } %>
<section id='codes'>
  <table>
    <%= render "table_head" %>
    <tbody>
      <%= render partial: "table_row_form", locals: { code: @code_new, mode: :new } %>
      <% @codes.each do |d| %>
        <% if @code_edit.nil? || (@code_edit.id != d.id) %>
          <%= render partial: "table_row_show", locals: { code: d, editable: true } %>
        <% else %>
          <%= render partial: "table_row_form", locals: { code: d, mode: :edit } %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</section>
<%= render partial: "shared/footer" %>
