<%= render partial: "shared/header", locals: { tab:@virtual_path[/^[^\/]+/] } %>
<section id='code'>
  <table>
    <%= render "table_head" %>
    <tbody>
      <%= render partial: "table_row_show", locals: { code: @code, editable: false } %>
    </tbody>
  </table>
  <div id='code-shown'>
    <img src="<%= @spec_content_code %>" alt="< DIAGRAM NOT DISPLAYABLE >"/>
  </div>
</section>
<%= render partial: "shared/footer" %>
